apiVersion: apps/v1
kind: Deployment
metadata:
  name: actual
  namespace: actual
  labels:
    app.kubernetes.io/name: actual
    app.kubernetes.io/instance: actual
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app.kubernetes.io/name: actual
      app.kubernetes.io/instance: actual
  template:
    metadata:
      labels:
        app.kubernetes.io/name: actual
        app.kubernetes.io/instance: actual
        emnt.dev/velero-backup: "true"
      annotations:
        backup.velero.io/backup-volumes: data
    spec:
      containers:
        - name: actual-server
          image: docker.io/actualbudget/actual-server:25.12.0
          env:
            - name: ACTUAL_UPLOAD_SYNC_ENCRYPTED_FILE_SYNC_SIZE_LIMIT_MB
              value: "100"
            - name: ACTUAL_UPLOAD_FILE_SYNC_SIZE_LIMIT_MB
              value: "100"
            - name: ACTUAL_UPLOAD_FILE_SIZE_LIMIT_MB
              value: "100"
            - name: ACTUAL_LOGIN_METHOD
              value: openid
            - name: ACTUAL_OPENID_DISCOVERY_URL
              value: "https://authentik.${CLUSTER_DOMAIN}/application/o/actual/.well-known/openid-configuration"
            - name: ACTUAL_OPENID_SERVER_HOSTNAME
              value: "https://actual.${CLUSTER_DOMAIN}"
            - name: ACTUAL_PORT
              value: "5006"
          envFrom:
            - secretRef:
                name: actual-secrets
          volumeMounts:
            - name: data
              mountPath: /data
          ports:
            - name: http
              containerPort: 5006
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: actual-data
