# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: democratic-csi-smb
  namespace: democratic-csi
spec:
  interval: 30m
  releaseName: democratic-csi-smb
  chart:
    spec:
      chart: democratic-csi
      version: 0.15.1
      sourceRef:
        kind: HelmRepository
        name: democratic-csi
        namespace: flux-system
      interval: 30m
  dependsOn:
    - name: snapshot-controller
      namespace: external-snapshotter
  values:
    controller:
      driver:
        image: 
          # renovate: datasource=github-tags depName=democratic-csi/democratic-csi
          tag: v1.9.3
        resources:
          requests:
            cpu: 20m
            memory: 128Mi
          limits:
            memory: 512Mi
    node:
      mount:
        checkFileSystem:
          xfs:
            enabled: true
          ext4:
            enabled: true
          btrfs:
            enabled: true
      driver:
        image: 
          # renovate: datasource=github-tags depName=democratic-csi/democratic-csi
          tag: v1.9.3
        resources:
          requests:
            cpu: 20m
            memory: 128Mi
          limits:
            memory: 256Mi
    csiDriver:
      name: "org.democratic-csi.freenas-api-smb"
      fsGroupPolicy: File
    volumeSnapshotClasses:
      - name: freenas-smb-csi
        labels:
          velero.io/csi-volumesnapshot-class: "true"
        parameters:
          # This will consume more space, but at least
          # snapshot is not coupled with original PV
          detachedSnapshots: "true"
    driver:
      existingConfigSecret: freenas-api-smb-driver
      config:
        driver: freenas-api-smb
