# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: immich
  namespace: flux-system
spec:
  interval: 2h
  timeout: 30m
  targetNamespace: immich
  chart:
    spec:
      chart: immich
      version: 0.10.3
      sourceRef:
        kind: HelmRepository
        name: immich
        namespace: flux-system
      interval: 30m
  values:
    controllers:
      main:
        strategy: Recreate
        containers:
          main:
            image:
              # renovate: datasource=github-releases depName=immich-app/immich
              tag: "v2.2.3"
            env:
              DB_HOSTNAME:
                valueFrom:
                  secretKeyRef:
                    name: immich-pg-app
                    key: host
              DB_USERNAME:
                valueFrom:
                  secretKeyRef:
                    name: immich-pg-app
                    key: user
              DB_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: immich-pg-app
                    key: password
              DB_DATABASE_NAME:
                valueFrom:
                  secretKeyRef:
                    name: immich-pg-app
                    key: dbname
    immich:
      metrics:
        enabled: true
      persistence:
        library:
          existingClaim: immich-data
    valkey:
      enabled: true
    persistence:
      pg-certs:
        name: immich-pg-ca
        enabled: true
        type: secret
        globalMounts:
          - path: /pg_certs
    server:
      probes:
        liveness:
          spec:
            initialDelaySeconds: 300
        readiness:
          spec:
            failureThreshold: 30
      resources:
        requests:
          cpu: 500m
          memory: 500Mi
        limits:
          memory: 3Gi
      ingress:
        main:
          enabled: true
          className: ingress-external-traefik
          annotations:
            traefik.ingress.kubernetes.io/router.entrypoints: websecure
          hosts:
            - host: immich.${CLUSTER_DOMAIN}
              paths:
                - path: "/"
      podLabels:
        emnt.dev/velero-backup: "true"
      podAnnotations:
        backup.velero.io/backup-volumes: library
