apiVersion: v1
kind: PersistentVolume
metadata:
  name: multimedia-radarr
  labels:
    app.kubernetes.io/name: radarr
    app.kubernetes.io/instance: radarr
spec:
  capacity:
    storage: 21Ti
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  mountOptions:
    - uid=1000
    - gid=1000
  csi:
    driver: org.democratic-csi.node-manual
    readOnly: false
    fsType: cifs
    volumeHandle: be8ae064-f8de-4e47-8b7e-c7fd218d31c8
    nodeStageSecretRef:
      name: freenas-smb-creds
      namespace: democratic-csi
    volumeAttributes:
      server: ${NAS_ADDR}
      share: multimedia
      node_attach_driver: smb
      provisioner_driver: node-manual
