apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: minecraft
resources:
  - namespace.k8s.yaml
  - curseforge-apikey.sops.yaml
  - service-monitor.k8s.yaml
  - ingress.k8s.yaml
  - trailing-slash-middleware.k8s.yaml
  - mc-router.k8s.yaml
configMapGenerator:
  - name: minecraft-dashboard
    options:
      labels:
        grafana_dashboard: "1"
    files:
      - unifiedmetrics-0-3-x-prometheus_rev11.json
