apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mealie-data
  namespace: mealie
spec:
  accessModes:
    - ReadWriteOnce
  volumeMode: Filesystem
  resources:
    requests:
      storage: 10Gi
  storageClassName: freenas-api-iscsi-csi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mealie
  namespace: mealie
  labels:
    app.kubernetes.io/name: mealie
    app.kubernetes.io/instance: mealie
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app.kubernetes.io/name: mealie
      app.kubernetes.io/instance: mealie
  template:
    metadata:
      labels:
        app.kubernetes.io/name: mealie
        app.kubernetes.io/instance: mealie
    spec:
      containers:
        - name: mealie
          image: ghcr.io/mealie-recipes/mealie:v3.3.0
          ports:
            - name: http
              containerPort: 9000
          env:
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
            - name: TZ
              value: Etc/UTC
            - name: DB_ENGINE
              value: postgres
            - name: BASE_URL
              value: https://mealie.${CLUSTER_DOMAIN}
            - name: PGSSLCERT
              value: /pg-certs/ca.crt
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  key: username
                  name: mealie-pg-app
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  key: password
                  name: mealie-pg-app
            - name: POSTGRES_SERVER
              valueFrom:
                secretKeyRef:
                  key: host
                  name: mealie-pg-app
            - name: POSTGRES_PORT
              valueFrom:
                secretKeyRef:
                  key: port
                  name: mealie-pg-app
            - name: POSTGRES_DB
              valueFrom:
                secretKeyRef:
                  key: dbname
                  name: mealie-pg-app
            - name: OIDC_AUTH_ENABLED
              value: "True"
            - name: OIDC_CONFIGURATION_URL
              value: "https://authentik.${CLUSTER_DOMAIN}/application/o/mealie/.well-known/openid-configuration"
            - name: OIDC_AUTO_REDIRECT
              value: "True"
            - name: OIDC_PROVIDER_NAME
              value: Authentik
            - name: OIDC_REMEMBER_ME
              value: "True"
            - name: SMTP_HOST
              value: mail.${CLUSTER_DOMAIN}
            - name: SMTP_FROM_EMAIL
              value: mealie@${CLUSTER_DOMAIN}
          envFrom:
            - secretRef:
                name: mealie-secrets
          volumeMounts:
            - name: data
              mountPath: /app/data
            - name: pg-certs
              readOnly: true
              mountPath: /pg-certs
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: mealie-data
        - name: pg-certs
          secret:
            secretName: mealie-pg-ca
