apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.k8s.yaml
  - cronjob.k8s.yaml
  - pvc.k8s.yaml
  - secret.sops.yaml
configMapGenerator:
  - name: recyclarr
    namespace: recyclarr
    files:
      - settings.yaml
