apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: recyclarr-state
  namespace: recyclarr
spec:
  accessModes:
    - ReadWriteOncePod
  volumeMode: Filesystem
  resources:
    requests:
      storage: 1Gi
  storageClassName: freenas-api-smb-csi
