apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.k8s.yaml
  - deployment.k8s.yaml
  - pvc.k8s.yaml
  - svc.k8s.yaml
  - ingress.k8s.yaml
  - secrets.sops.yaml
  - external-secret.k8s.yaml
configMapGenerator:
  - name: headscale-config
    namespace: headscale
    files:
      - config.yaml
      - acl.jsonc
  - name: headplane-config
    namespace: headscale
    files:
      - headplane-config.yaml
