apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: headscale-data
  namespace: headscale
spec:
  accessModes:
    - ReadWriteOnce
  volumeMode: Filesystem
  resources:
    requests:
      storage: 1Gi
  storageClassName: freenas-api-iscsi-csi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: headplane-data
  namespace: headscale
spec:
  accessModes:
    - ReadWriteOncePod
  volumeMode: Filesystem
  resources:
    requests:
      storage: 1Gi
  storageClassName: freenas-api-iscsi-csi
