apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: multimedia-sonarr
  labels:
    app.kubernetes.io/name: sonarr
spec:
  accessModes:
    - ReadWriteMany
  volumeMode: Filesystem
  resources:
    requests:
      storage: 21Ti
  selector:
    matchLabels:
      app.kubernetes.io/name: sonarr
