#
# Refs:
# https://github.com/jesec/rtorrent/blob/master/doc/rtorrent.rc
# https://rtorrent-docs.readthedocs.io/en/latest/cookbook.html
# https://wiki.archlinux.org/title/RTorrent
#

## Define directories
method.insert = cfg.basedir,  private|const|string, (cat, "/data/")
method.insert = cfg.session,  private|const|string, (cat, (cfg.basedir), "session/")
method.insert = cfg.socket,   private|const|string, (cat, (cfg.basedir), "sock/")
method.insert = cfg.download, private|const|string, (cat, "/multimedia/downloads/")

# multimedia is already mounted, create downloads folder
fs.mkdir = (cat, (cfg.download))

## Set default paths
system.cwd.set        = (directory.default)
directory.default.set = (cat, (cfg.download))
session.path.set      = (cat, (cfg.session))

## Set last started time
method.insert = system.startup_time, value|const, (system.time)

## Set the path to an items data, and the path to its session file.
method.insert = d.data_path, simple,"if=(d.is_multi_file),(cat, (d.directory), /),(cat, (d.directory), /, (d.name))"
method.insert = d.session_file, simple, "cat=(session.path), (d.hash), .torrent"

## Configuration
pieces.memory.max.set              = 1024M
throttle.max_uploads.set           = 100
throttle.max_uploads.global.set    = 250
throttle.min_peers.normal.set      = 20
throttle.max_peers.normal.set      = 60
throttle.min_peers.seed.set        = 30
throttle.max_peers.seed.set        = 80
trackers.numwant.set               = 80
protocol.encryption.set            = allow_incoming,try_outgoing,enable_retry
network.http.max_open.set          = 50
network.http.dns_cache_timeout.set = 25
network.max_open_files.set         = 600
network.max_open_sockets.set       = 300
network.xmlrpc.size_limit.set      = 4M

## Setting up as a daemon for Flood UI
network.scgi.open_local = (cat, (cfg.socket), "rtorrent.sock")
network.port_range.set  = ${RTORRENT_PORT}-${RTORRENT_PORT}
session.use_lock.set    = no
system.daemon.set       = true
system.umask.set        = 0002
encoding.add            = utf8

## Disable tracker-less torrent and UDP tracker support
dht.mode.set         = disable
protocol.pex.set     = no
trackers.use_udp.set = no

## Log all messages to stdout
method.insert  = cfg.logfile,  private|const|string, (cat, "/dev/stdout")
log.open_file  = "log", (cfg.logfile)
log.add_output = "info", "log"
log.add_output = "warn", "log"
log.add_output = "critical", "log"
log.add_output = "torrent_info", "log"
