apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: intel-device-plugins
resources:
  - namespace.k8s.yaml
  - nodefeaturerule.k8s.yaml
  - intel-gpu-exporter.k8s.yaml
  - https://github.com/intel/intel-device-plugins-for-kubernetes/deployments/gpu_plugin/overlays/monitoring_shared-dev_nfd?ref=v0.34.1
  - https://github.com/intel/intel-device-plugins-for-kubernetes/deployments/nfd/overlays/node-feature-rules?ref=v0.34.1
patches:
  - target:
      group: apps
      version: v1
      kind: DaemonSet
      name: intel-gpu-plugin
      labelSelector: app=intel-gpu-plugin
    patch: |-
      kind: not-important
      metadata:
        name: not-important
      spec:
        template:
          spec:
            containers:
              - name: intel-gpu-plugin
                resources:
                  requests:
                    cpu: 10m
                    memory: 16Mi
                  limits:
                    memory: 64Mi
