name: "Detect Dockerfile changes"

on:
  push:
    branches:
      - main

jobs:
  get_changed_dockerfiles:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    outputs:
      IMAGE_LIST: ${{ steps.set_images.outputs.IMAGE_LIST }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Get list of changed container files
        id: set_images
        run: |
          IMAGE_LIST="$(git diff --name-only ${{ github.event.before }} HEAD -- 'containers/*.Dockerfile' | jq -R -c --slurp 'split("\n") | map(select(length > 0))')"
          echo "List of changed docker files:" >> "${GITHUB_STEP_SUMMARY}"
          echo "${IMAGE_LIST}" | jq -r '.[] | "- " + .' >> "${GITHUB_STEP_SUMMARY}"
          echo "IMAGE_LIST=${IMAGE_LIST}" >> "${GITHUB_OUTPUT}"

  build_images:
    uses: eaglesemanation/ops.emnt.dev/.github/workflows/build_images.yaml@main
    needs: get_changed_dockerfiles
    permissions:
      contents: read
      packages: write
    with:
      image_list: ${{ needs.get_changed_dockerfiles.outputs.IMAGE_LIST }}
